<html>
<head></head>

<body>

<form action="/api/getdata.api">
<textarea id="request" rows="" cols=""></textarea>

</form>

<textarea id="response" rows="" cols="">

</textarea>

</body>


</html>