<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">

<title>club</title>
<style>

/* 组件边距 */
* {
	margin: 0;
	padding: 0;
}


body{
    font-size: .80em;
    font-family: "HelveticaNeue","LucidaGrande","SegoeUI",Arial, Helvetica, Verdana, sans-serif;
	background-color: #FFF0F5;
    color: #696969;
    margin:0 auto;
    padding:0;
    height: 100%;
}

html,body{margin:0px; height:100%; }

/* 网页背景 */
html {
	background-color: #FFF0F5;
	margin:0 auto;
	padding:0;
	height: 100%;
}
</style>


</head>
<body>
#parse("receptionframe/homehead.vm")


<center>

	homepage login
	<br>
	<br>
	aaaaa

</center>

<div style="padding-bottom: 5px;">
	<a href="#" style="padding-bottom: 0px;">balogin</a>
</div>

</body>
</html>