<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
#if($mainTitle)
$!mainTitle
#else
eici Internet of Things
#end
</title>
<link rel="icon" href="/images/home/lens_72px_1180356_easyicon.net.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/images/home/lens_72px_1180356_easyicon.net.ico" type="image/x-icon" />
<link rel="shortcut icon" type="image/x-icon" href="/images/home/lens_72px_1180356_easyicon.net.ico"/>


<style>
body{font-family:"simfang";}
</style>
</head>
<body>
	<script src="/js/utils/jquery-1.8.3.min.js"></script>
	<script src="/js/utils/bootstrap.min.js"></script>
	<script src="/js/layer/layer.js"></script>
	$screen_content
	$!extraJavaScript
</body>
</html>