a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}


/** a style */
.butstylea {
	display: inline-block;
	width: 75px;
	height: 40px;
	line-height: 40px;
}

.butstylea:hover {
	color: #00bfff;
	//background-color: #4682b4;
	background-color: rgba(70,130,180,50);
	border: 5px;
	border-color: green;
}


/** home a menu style */
.butstylemenua {
	display: inline-block;
	text-align: center;
	width: 100px;
	height: 60px;
	line-height: 60px;
}

.butstylemenua:hover {
	color: #00bfff;
	background-color: rgba(70,130,180,50);
}


/** ar style */
.butstylear {
	display: inline-block;
	background-color: rgba(70,130,180,50);
	color: white;
	font-weight: lighter;
	font-size: 18px;
	width: 150px;
	height: 60px;
	line-height: 60px;
}

.butstylear:hover {
	background-color: rgba(70,140,180,50);
	border: 5px;
	color: white;
	border-color: green;
}