
.headhd {
	height: 40px;
	color: white;
	background: #383D44;
	border-bottom: 1px solid #424851;
	vertical-align: middle;
}


.headbd {
	height: 60px;
	color: white;
	background: #383D44;
	border-bottom: 1px solid #424851;
}