<head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">

<title>management club</title>

<style type="text/css">
.system_log dt{background-image:url(/images/left/system.png)}
.custom dt{background-image:url(/images/left/custom.png)}
.channel dt{background-image:url(/images/left/channel.png)}
.app dt{background-image:url(/images/left/app.png)}
.cloud dt{background-image:url(/images/left/cloud.png)}
.syetem_management dt{background-image:url(/images/left/syetem_management.png)}
.source dt{background-image:url(/images/left/source.png)}
.statistics dt{background-image:url(/images/left/statistics.png)}
</style>
<script src="/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<link href="/css/managementmenu.css" type="text/css" rel="stylesheet">

</head>


<body id="bg">

<div class="container">

	<div class="leftsidebar_box">
		<div class="line"></div>
		#foreach($!mm in $!mList)
			<dl class="system_log">
				
					<dt onClick="changeImage()" url="$!mm.url" sr="$!mm.menuIcon" title="$!mm.remarks">$!mm.title<img src="/images/left/select_xl01.png"></dt>
					
					#foreach($!ms in $!mm.smenuList)
						#if($!velocityCount == 1)
							<dd title="$!ms.remarks" target="bacontiframe" class="first_dd"><a href="$!ms.url">$!ms.title</a></dd>
						#else
							<dd><a href="$!ms.url" target="bacontiframe" title="$!ms.remarks">$!ms.title</a></dd>
						#end
					#end
			</dl>
		#end
	
	</div>

	<iframe src="null" frameborder="0" style="min-height: 1000px;width: 88%;margin-left: 12%;" scrolling="no" width="100%" name="bacontiframe" id="bacontiframe" onload="this.height=this.contentWindow.document.documentElement.scrollHeight" />
</div>

</body>
</html>

<script type="text/javascript">
	$(function() {
		$(".leftsidebar_box dd").hide();
		$(".leftsidebar_box dt").click(
				function() {
					$(".leftsidebar_box dt").css({
						"background-color" : "#3992d0"
					})
					$(this).css({
						"background-color" : "#317eb4"
					});
					$(this).parent().find('dd').removeClass("menu_chioce");
					$(".leftsidebar_box dt img").attr("src",
							"/images/left/select_xl01.png");
					$(this).parent().find('img').attr("src",
							"/images/left/select_xl.png");
					$(".menu_chioce").slideUp();
					$(this).parent().find('dd').slideToggle();
					$(this).parent().find('dd').addClass("menu_chioce");
				});
	})
</script>