<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">

<title>club</title>

<style>

/* 组件边距 */
* {
	margin: 0;
	padding: 0;
}
</style>


</head>
<body>

	<center>
		ba
	</center>
	
</body>
</html>