<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">

<title>后台登录</title>
<link href="/css/balogin/style.css" type="text/css" rel="stylesheet">
<script src="/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script>
	var __links = document.querySelectorAll('a');
	function __linkClick(e) {
		parent.window.postMessage(this.href, '*');
	};
	for (var i = 0, l = __links.length; i < l; i++) {
		if (__links[i].getAttribute('data-t') == '_blank') {
			__links[i].addEventListener('click', __linkClick, false);
		}
	}
</script>
<script>
	$(document).ready(function(c) {
		$('.alert-close').on('click', function(c) {
			$('.message').fadeOut('slow', function(c) {
				$('.message').remove();
			});
		});
	});
</script>
</head>
<body>
	<div class="message warning">
		<div class="inset">
			<div class="login-head">
				<h1>Login Club Management Of Backstage System</h1>
				<!-- <div class="alert-close"></div> -->
			</div>
			<form action="/balogin/basignin.do" method="post" target="_top">
		
				<span style="color: red;position: absolute;margin-top: -25px;margin-left: -205px;">$!loginmsg</span>
			
				<li>
					<input type="text" name="account" required="" class="text">
				</li>
					<div class="clear"> </div>
				<li>
					<input type="password" required="" name="password" >
				</li>
				<div class="clear"></div>
				<div class="submit">
					<input type="submit" onclick="myFunction();" value="Sign in">
					<div style="height: 50px;line-height: 50px;">
						<a href="JavaScript:void(0);" title="找回密码">Lost your Password ?</a>
					</div>
					<div class="clear"></div>
				</div>

			</form>
		</div>					
	</div>
	<div class="clear"> </div>
	<!--- footer --->
	<div class="footer">
		<p>Eici club &copy; <script type="text/javascript">var myDate = new Date();document.write(myDate.getFullYear());</script>.</p>
	</div>
	
	
	<input id="loginuname" type="hidden" value="$!admin_session.userName">
	<input id="loginuaccount" type="hidden" value="$!$!admin_session.userName.account">
</body>


<script type="text/javascript">

//获取登录对象中的信息
var loginuserun = $("#loginuname").val();
var loginuserac = $("#loginuaccount").val();

//如果对象不为空直接去首页
if (loginuserun!="" && loginuserac!="") {
	top.location.href="/mangerment/home.do";
}
</script>
</html>